terraform.tfstate*
.*
\#*#
*~
/consul.key
/terraform.tfvars
providers-local.tf
/tokens.json
/consul-acl-bootstrap.json
/consul-agent-ca-key.pem
/consul-agent-ca.pem
/dc1-client-consul-*.pem
/dc1-server-consul-*.pem
backup.snap*
/test/test-tf
/consul-pki/consul_pki_ca.csr
/consul-pki/consul_pki_ca.pem
*.pem
/ca-certificates/*
*.csr
bootstrap/send.sh
